    .footer {
      text-align: center;
    padding: 15px 0;
    background: rgb(34, 33, 33);
    color: #777; }

    .footer h4 {
        color: #fff;
        margin-bottom: 20px; }

    .footer .links li {
      margin-bottom: 10px; }
      .footer .links li a {
        color: #999; }

    